{{#unless help}}
    <div class="ui active inverted dimmer absolute-fill">
        <div class="ui text loader">
            Reticulating splines <br>
        </div>
    </div>
{{else}}
    <div class="ui basic segment">
      {{#each availableCommands key='name' as |cmd|}}
        {{ember-cmd project=model cmd=cmd}}
      {{/each}}
    </div>
{{/unless}}
{{outlet}}