body {
  margin: 0;
  padding: 0;
}

/*
Mark invalid form fields red.
Taken from http://purecss.io/ forms
*/
.ui.form input:focus:invalid,
.ui.form textarea:focus:invalid,
.ui.form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.stderr, .stdout{
  font-family: monospace;
  font-size: 10px;
  margin: 0;
  white-space: pre;
  max-height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
}

.ui.segment.header{
  margin-bottom: 0;
}
.ui.segment.header+.ui.segment{
  margin-top: 0;
}

.ui.filter-segment{
  margin-bottom: 0;
  margin-top: 0;
}
.ui.filter-segment + .ui.header{
  margin-top: 0;
}
.filter-list{

}
.filter-list-item{
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.filter-list-item .icon:not(.selected) + span{
  color: #999;
}

.cursor-pointer{
  cursor: pointer;
}
.ember-cmd-advanced-toggle{
  height: 39px;
  padding-top: 9px;
  display: inline-block;
  vertical-align: middle;
}
.ember-cmd-advanced-toggle .icon{
  text-align: left;
  margin-right: 0 !important;
}
.ember-cmd-header-meta{
  display: inline-block;
  vertical-align: middle;
}

body > div > .container > .grid{
  margin: 0 !important;
}

.base-col{
  overflow: hidden;
  height: 100vh;
}

.full-viewport-height{
  height: 100vh;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.flex-fill{
  flex: 2;
  overflow: auto;
  position: relative;
}
.absolute-fill{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* fix for semantic borders */
  padding-right: 1px;
  padding-left: 1px;
}

.addon-item{

}
.addon-controls{

}
.addon-table tbody tr
{
  min-height: 47px;
}

.application-controls{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

@media (min-width: 1200px) and (max-width: 1400px){
  .application-controls .ui.labeled.icon.button{
    padding-right: 1.5em!important;
    padding-left: 1.5em!important;
  }
  .application-controls .button .icon{
    display: none;
  }
}

@media (max-width: 991px){
  .application-controls .buttons{
    display: block !important;
  }
  .application-controls .button{
    display: block !important;
    width: 100%;
  }
  .application-controls .button.icon.right{
    padding-left: 4.07142857em!important;
    padding-right: 1.5em!important;
    border-bottom-left-radius: .28571429rem;
    border-top-right-radius: 0;
  }
  .application-controls .button.icon:not(.right){
    border-top-right-radius: .28571429rem;
    border-bottom-left-radius: 0;
  }
  .application-controls .button.icon.right .icon{
    left: 0 !important;
    right: auto;
  }
}

