<div class="ui basic segment">
  {{#unless help}}
      <div class="ui active inverted dimmer">
          <div class="ui text loader">
              Reticulating splines <br>
          </div>
      </div>
  {{else}}
    {{#each availableCommands key='name' as |cmd|}}
      {{ember-cmd app=model cmd=cmd}}
    {{/each}}
  {{/unless}}
</div>

{{outlet}}